/*!
 * Start Bootstrap - Modern Business (https://startbootstrap.com/template-overviews/modern-business)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-logomodern-business-nav/blob/master/LICENSE)
 */
.carousel-item.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/productos/.carousel-itemct.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-item.masthead h1 {
  font-size: 2rem;
}

.carousel-item.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  .carousel-item.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  .carousel-item.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .carousel-item.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .carousel-item.masthead h1 {
    font-size: 4rem;
  }
}
.carousel-item {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}